.img1 {
  width: 300px;
  height: 50px;
  margin-left: 125px;
  margin-bottom: 50px;
}

nav {
  font-size: 28px;
}

.logo1 {
  font-size: 28px;
  text-decoration: none;
}
.logo {
  font-size: 33px;
  margin-top: 2px;
  text-decoration: none;
  color: black;
}
.logo:hover {
  color: black;
}

.sa {
  font-size: 48px;
  color: rgba(0, 159.38, 159.38, 1);
}
.sp {
  font-size: 38px;
  color: rgba(0, 159.38, 159.38, 1);
}

body {
  font-family: poppins;
}

.bt {
  background-color: rgba(71.19, 69.41, 69.41, 1);
  border-radius: 5px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 367px;
  height: 75px;
  font-size: 31px;
  line-height: 145.37%;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
}
